.title{
    @apply
    text-6xl 
    font-bold 
    text-center
    my-7;
    
}
.input{
    @apply
    w-full 
    px-4 
    py-2 
    bg-[#F2F2F2]
    border-gray-300 
    rounded-md focus:outline-none 
    focus:ring-1
    focus:border-blue-400
    ;
}
.label{
    @apply
    block 
    text-sm 
    font-medium 
    text-customGray
    mb-2
    ;
}
.button{
    @apply
     w-full max-w-full
     shadow-2xl
     bg-black 
     text-white 
     px-4 
     py-2 
     rounded-md 
     hover:bg-gray-600 
     transition 
     duration-200 
     focus:outline-none 
     focus:ring-2 
     focus:bg-gray-500
}